CSS
.bg-image {
            position: relative;
            background-image: url('property.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            color: white;
        }
.bg-image .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(169, 197, 216, 0.5); /* Adjust the opacity as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
.bg-image .overlay h1 {
            font-size: 3rem;
            font-weight: bold;
        }
.bg-image .overlay p {
            font-size: 1.5rem;
        }

/* makes the menu items gold on hover  */
.nav-link:hover {
            color: #ffc107; 
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
          }

          #carouselExampleIndicators .carousel-control-prev,
          #carouselExampleIndicators .carousel-control-next {
            width: 5%;
          }
          
          #carouselExampleIndicators .carousel-control-prev {
            left: -3rem;
          }
          
          #carouselExampleIndicators .carousel-control-next {
            right: -3rem;
          }
          
         
/* CUSTOMIZE THE CAROUSEL code adapted from https://getbootstrap.com/docs/5.3/examples/carousel/carousel.css
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
